// work setup
// output "HDMI-A-1" {
//     position x=1920 y=0
//     mode "2560x1080@100.000"
// }

// output "eDP-1" {
//     position x=0 y=0
// }



// home
output "DP-2" {
    position x=1080 y=0
    mode "3440x1440@159.962"
}

output "HDMI-A-1" {
    position x=0 y=0
    mode "1920x1080@74.973"
    transform "90"
}
