// Example: enable rounded corners for all windows.
// (This example rule is commented out with a "/-" in front.)

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
    draw-border-with-background false
}

window-rule {
    match app-id="kitty"
    draw-border-with-background false
    opacity 1.0
}

spawn-at-startup "waybar"
spawn-at-startup "swww-daemon"
spawn-at-startup "~/.dotfiles/bin/restore-wallpaper.sh"
