// Example: enable rounded corners for all windows.
// (This example rule is commented out with a "/-" in front.)

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
    opacity 0.90
    draw-border-with-background false
}

window-rule {
    match app-id="kitty"
    draw-border-with-background false
    opacity 1.0
}

spawn-at-startup "swaybg" "--image" "/home/tenzin/wallpapers/earth.png" "-m" "fill"

